body {
	text-align: center;
	background: #ffc;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
}
#game-zone {
	background: rgba(240, 0, 40, 0.7);
	color: white;
	display: flex;
}
#game-zone figure {
	flex: 1;
}
#result{
	background: rgba(0, 0, 150, 0.75);
	color: white;
	border-radius: 1em;
	padding: 1em;
}
#score {
	color: black;
	border: 1px dashed black;
	background: rgb(0, 244,0, 0.5);
	padding: 1em;
}